@media (max-width: 1499px) {
    .nav-list li:not(:last-child) {
        margin-right: 50px;
    }

    body {
        font-size: 18px;
    }

    .container {
        width: 100%;
    }

    .home-content {
        max-width: 640px;
    }

    .home-title {
        font-size: 34px;
    }

    .home-desc {
        margin-top: 60px;
        padding: 10px 0 20px 15px;
    }

    .home-text {
        font-size: 20px;
    }

    .home-list {
        margin-top: 40px;
    }

    .block-list:nth-child(2) {
        margin: 0 65px 0 45px;
    }

    .block-list h2 span {
        font-size: 65px;
    }

    .btn-leave-request {
        width: 265px;
        margin-top: 75px;
        padding-top: 15px;
        border-radius: 5px;
        font-size: 18px;
        background-color: #be264c;
    }
}

@media (max-width: 1199px) {
    body {
        font-size: 20px;
    }

    .nav-list {
        display: none;
    }

    .nav-menu.open .nav-list {
        padding: 50px 40px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        font-size: 34px;
        z-index: 9;
    }

    .nav-button {
        display: block;
        margin: 15px 15px 0 0;
        z-index: 9;
    }

    .home-title {
        font-size: 40px;
    }

    .home-text {
        font-size: 24px;
    }

    .home-list {
        margin-top: 65px;
    }

    .block-list h2 span {
        font-size: 100px;
    }

    .btn-leave-request {
        width: 260px;
        font-size: 22px;
    }
}

@media (max-width: 999px) {
    body {
        font-size: 18px;
    }

    .home-content {
        max-width: 575px;
    }

    .home-title {
        font-size: 32px;
    }

    .home-text {
        font-size: 22px;
    }

    .block-list:nth-child(2) {
        margin: 0 80px 0 65px;
    }

    .block-list h2 span {
        font-size: 90px;
    }

    .btn-leave-request {
        width: 260px;
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .home-title {
        font-size: 24px;
    }

    .home-desc {
        padding: 15px 0 25px 20px;
    }

    .home-text {
        font-size: 18px;
    }

    .home-list {
        margin-top: 65px;
    }

    .block-list h2 span {
        font-size: 80px;
    }

    .btn-leave-request {
        margin-top: 80px;
        font-size: 22px;
    }
}

@media (max-width: 479px) {
    .nav-button {
        margin: 5px 0 0 0;
    }

    .nav-button img {
        width: 50%;
        height: 50%;
    }

    .home-content {
        width: 100%;
    }

    .home-title {
        font-size: 24px;
    }

    .home-text {
        font-size: 17px;
    }

    .home-list {
        margin-top: 55px;
        flex-direction: column;
        row-gap: 40px;
        text-align: center;
    }

    .block-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .block-list:nth-child(2) {
        margin: 0;
    }

    .block-list h2 span {
        font-size: 70px;
    }

    .btn-leave-request {
        width: 255px;
        /* margin-top: 110px; */
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
}

@media (max-width: 319px) {
    .home-text {
        font-size: 12px;
    }

    .block-list h2 span {
        font-size: 60px;
    }
}
