@import url(./reset.css);
@import url(./fonts.css);

/* body,
html {
    height: 100%;
} */

body {
    font-family: 'Gilroy-Light';
    font-size: 24px;
    color: #fff;
    background-color: #000;
}

.container {
    width: 1500px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}

.none {
    display: none !important;
}

/* Header */

.header {
    font-family: 'Century-Gothic';
    background-color: #000;
}

/* Header Navigation */

.header-nav::after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(
        180deg,
        #651529,
        #611427,
        #5d1325,
        #591223,
        #551122,
        #511120,
        #4d101f,
        #4a0f1e,
        #430e1b,
        #400d1a,
        #390c17,
        #360b16,
        #330b15,
        #300a13,
        #2d0912,
        #2a0911,
        #25080f,
        #23070e,
        #1f060c,
        #1c060b,
        #18050a,
        #160409,
        #140408,
        #120407,
        #100307,
        #0f0306,
        #0d0305,
        #0c0205,
        #0a0204,
        #090204,
        #080203,
        #020101,
        #020002,
        #010102,
        #010101
    );
}

.header-nav-inner {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-name {
    margin-left: 15px;
}

.nav-list {
    padding: 15px 0 10px 0;
    display: flex;
    color: #f4f4f4;
}

.nav-list li:not(:last-child) {
    margin-right: 80px;
}

.nav-list li:hover {
    color: #be264c;
}

.nav-button {
    display: none;
}

.nav-button img {
    width: 80%;
    height: 80%;
}

/* Home Content */

.home {
    position: relative;
    min-height: 605px;
    /* min-height: 995px; */
}

.home-content {
    max-width: 930px;
}

.home-title {
    margin-top: 20px;
    font-family: 'Gilroy-Black';
    font-size: 48px;
}

.home-title span {
    color: #be264c;
}

.home-desc {
    margin-top: 60px;
    padding: 20px 0 30px 25px;
    border-left: 4px solid #be264c;
}

.home-text {
    font-size: 30px;
}

.home-list {
    margin-top: 95px;
    display: flex;
}

.home-list-item:nth-child(2) {
    margin: 0 120px 0 70px;
}

.home-list-item span {
    font-family: 'Gilroy-Black';
    font-size: 130px;
}

.btn-leave-request {
    display: block;
    width: 335px;
    margin-top: 90px;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    background-color: #be264c;
}

.btn-leave-request:active {
    transform: translateY(4px);
}

.home-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}
