:root {
    --service-item-linear-gradient: linear-gradient(
        -135deg,
        transparent calc((100vw - 20rem) / (120 - 20) * (2.125 - 1) + 1rem),
        #651529 0,
        #611427,
        #5d1325,
        #591223,
        #551122,
        #511120,
        #4d101f,
        #4a0f1e,
        #430e1b,
        #400d1a,
        #390c17,
        #360b16,
        #330b15,
        #300a13,
        #2d0912,
        #2a0911,
        #25080f,
        #23070e,
        #1f060c,
        #1c060b,
        #18050a,
        #160409,
        #140408,
        #120407,
        #100307,
        #0f0306,
        #0d0305,
        #0c0205,
        #0a0204,
        #090204,
        #080203,
        #020101,
        #020002,
        #010102,
        #010101,
        #000000
    );
    --filter-btn-top-indentation_1: calc(((100vw - 20rem) / (120 - 20) * (2.5 - 1.125) + 1.125rem) + 1.5625vw);
    --filter-btn-top-indentation_2: calc(((100vw - 20rem) / (120 - 20) * (1.875 - 1.375) + 1.375rem) + 2vw);
}
